@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  border: none;
  outline: none;
  box-sizing: border-box;
}

input {
  border: 1px solid rgb(236, 118, 6);
  padding: 0.3rem 0.3rem;
  border-radius: 5px;
  width: 38vw;
}

.mobile-nav {
  position: absolute;
  top: 100%;
  right: 0;
  /* background-color: rgba(0,0,0,0.5); */
}

/* Featured border bottom */
.border_bottom {
  border-bottom: 2px solid #cccc;
  margin-bottom: 2rem;
  width: 100%;
}

/* h1 news card border */
.border_bottom {
  border-bottom: 2px solid #cccc;
}
