@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}

input {
  border: 1px solid rgb(236, 118, 6);
  padding: 0.3rem 0.3rem;
  border-radius: 5px;
  width: 38vw;
}

.mobile-nav {
  position: absolute;
  top: 100%;
  right: 0;
  /* background-color: rgba(0,0,0,0.5); */
}

/* Featured border bottom */
.border_bottom {
  border-bottom: 2px solid #cccc;
  margin-bottom: 2rem;
  width: 100%;
}

/* h1 news card border */
.border_bottom {
  border-bottom: 2px solid #cccc;
}

/* loading */
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* line */
/* .line {
  border: 1px solid #ccc;
  margin-bottom: 1rem;
  width: 100%;
} */

/* hero-section */
.hero-section {
  background-image: url("../public/assets/about2.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  width: 100%;
  padding-top: 10rem;
}

.about-page {
  padding-top: 5rem;
}

/* bottom_underline */
.bottom_underline::after {
  position: absolute;
  content: "";
  background-color: rgb(234, 88, 12);
  width: 10rem;
  height: 3px;
  top: 2rem;
  left: 32.5rem;
  margin-top: 0.5rem;
  border-radius: 1rem;
}

/* how-system-work-section */
.how-system-work-section {
  background-image: url("../public/assets/about4.avif");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  margin: 5rem 0rem;
}
